







.h1
{
font-size:30px;
font-family:'Broadway';
text-align:center;
color: black;
}







.slaviana
{
padding-left:1000px;
font-size:18px;
font-family:'Time New Roman';
}



.p

{
text-align:center;
font-family:'Arial Black';
font-size:15px;
}


.ibrahim
{
padding-left:1000px;
font-size:18px;
font-family:'Time New Roman';

}



.dejanV
{
padding-left:1000px;
font-size:18px;
font-family:'Time New Roman';

}



.ring
{
text-align:center;
font-family:'Arial Black';
font-size:15px;

}


.create
{
font-size:30px;
font-family:'Broadway';
text-align:center;
color: black;

}

.h2
{
font-size:30px;
font-family:'Broadway';
text-align:center;
color: black;


}


.contest
{
text-align:center;
font-family:'Arial Black';
font-size:15px;
border:8px solid white;

}


.button
{
background-color:black;
color:white;
text-align:center;

}