#logo
{
color:white;
}



*p
{

position:absolute;
z-index:2;

}


.website
{
font-size:30px;
font-family:'Broadway';
text-align:center;
color: aliceblue;
}



.theme
{
text-align:center;
font-size:20px;
color: aliceblue;
font-family:'Time New Roman';
}



.italian
{
font-size:15px;
text-align:center;
color: aliceblue;
}


.learnmore
{
text-align:center;
background-color:purple;
border-radius:10px;
margin:10px;
padding:10px;
margin-left:500px;
border: 1px;
}


.download
{

background-color:blue;
border-radius:10px;
margin:10px;
padding:10px;
text-align:center;
border: 1px;

}



.signup
{

background-color:green;
border-radius:10px;
margin:10px;
padding:10px;
text-align:center;
border: 1px;

}











.features
{

text-align:center;
font-size:30px;
font-family:'Broadway';
}







.img
{
background-image: url("https://images.pexels.com/photos/38537/woodland-road-falling-leaf-natural-38537.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");

}





.main
{
text-align:center;
color:blue;
font-size:15px;
}



.test
{
border:3px solid black;
width:300;
height:100;

}




.text
{
border:3px solid black;
width:300;
height:100;
}





.bold
{
border:3px solid black;
width:300;
height:100;
}
.align
{
    display: inline-block;
    margin-left: 1cm;
}




.about
{
text-align:center;
font-family:'Broadway';
}




#team
{

text-align:center;
font-family:'Broadway';
}



.member
{
color:blue;
text-align:center;
}





.contact
{
text-align:center;
color:blue;
}




.image
{
display:inline;
margin-left:50px;
text-align:center;
}


















